body{
    background-color: green;
}

center{
    color: white;
}

.my_lable{
    margin-left: 150px;
    margin-top: 30px;
    color: white;
}

.my_lable2{
    margin-top: 20px;
    color: white;
    margin-top: -400px;
}

.name_of_object, #result_object_name, #result_object_accuracy{
    color: white;
    font-size: 20;
}

#camera,#result{
    height: 300px;
    width: 350px;
    border: 2px;
    border-style: groove;
}
